{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{{ boxer.name }} - Attendance Report</title>
</head>
<body>
    <header>
        <img src="{% static 'images/img.png' %}" alt="Gym Logo">
        <h2>Boxer's report</h2>
    </header>
    <h2>Attendance Report for {{ boxer.name }}</h2>

    <h3>Summary</h3>
    <ul>
        <li>Total Records: {{ total }}</li>
        <li>Present: {{ present_pct }}%</li>
        <li>Absent: {{ absent_pct }}%</li>
        <li>Excused Absences: {{ excused_pct }}%</li>
        <li>Unexcused Absences: {{ unexcused_pct }}%</li>
    </ul>

    <h3>Detailed Attendance</h3>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Present</th>
            <th>Excused (if absent)</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.is_present }}</td>
            <td>{% if not record.is_present %}{{ record.is_excused }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'boxer_list' %}">← Back to Boxer List</a>
</body>
</html>
